# Assignment 1
Simon Karumbi

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", None, "display.max_columns", None)

In [4]:
nba = pd.read_csv('NBA_players_stats.csv')

In [5]:
nba.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,35,2,491,84,145,0.579,0,0,NaN,84,145,0.579,44,81,0.543,46,95,141,20,15,19,32,58,212
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,0.125,0,2,0.00,1,6,0.167,0,0,NaN,0,3,3,2,0,0,0,1,20000
2,3,Steven Adams,C,27,NOP,33,33,918,115,187,0.615,0,1,0.00,115,186,0.618,35,79,0.443,133,161,294,69,29,20,50,63,265
3,4,Bam Adebayo,C,23,MIA,33,33,1119,236,419,0.563,2,6,0.05,234,413,0.567,160,189,0.847,72,241,313,179,29,34,98,80,634
4,5,LaMarcus Aldridge,C,35,SAS,21,18,544,115,248,0.464,27,75,0.36,88,173,0.509,31,37,0.838,17,77,94,36,8,18,20,36,28800

In [6]:
nba.shape

(512, 29)

In [7]:
nba.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,509.000000,512.000000,512.000000,479.000000,512.000000,512.000000,505.000000,512.000000,512.000000,480.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000
mean,248.046875,26.025391,22.515625,10.603516,512.730469,87.326172,187.789062,0.439961,27.218750,73.910156,0.316823,60.107422,113.878906,0.501632,36.658203,47.070312,0.742929,20.808594,73.439453,94.248047,52.925781,16.050781,10.509766,28.810547,41.898438,333.275391
std,141.539473,12.099932,10.762502,12.697945,374.173372,82.210894,170.428063,0.120485,29.654749,75.700355,0.140463,63.802427,116.742818,0.143022,45.406517,56.053013,0.171721,24.399771,66.360902,86.459582,60.983960,13.501952,13.058198,28.076169,31.061290,1550.220911
min,1.000000,-19.000000,1.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,126.750000,22.000000,14.000000,0.000000,147.750000,18.000000,43.000000,0.391000,3.000000,9.000000,0.285500,10.000000,22.000000,0.444000,6.000000,8.000000,0.667000,4.000000,18.750000,23.000000,9.000000,4.000000,2.000000,7.000000,14.000000,50.000000
50%,250.500000,25.000000,25.000000,3.000000,497.000000,64.500000,145.000000,0.442000,17.000000,50.500000,0.349000,39.000000,75.000000,0.510000,21.000000,29.000000,0.772000,13.000000,57.500000,73.000000,35.000000,14.000000,6.000000,22.000000,39.500000,180.000000
75%,370.250000,28.000000,33.000000,20.000000,814.250000,131.250000,275.000000,0.500000,45.000000,119.250000,0.394000,88.250000,171.000000,0.575000,48.000000,63.250000,0.851000,27.000000,110.000000,140.000000,69.000000,25.000000,14.000000,40.250000,64.000000,356.750000
max,492.000000,280.000000,38.000000,37.000000,1358.000000,379.000000,764.000000,1.000000,169.000000,411.000000,1.000000,329.000000,543.000000,1.000000,298.000000,363.000000,1.000000,159.000000,357.000000,472.000000,345.000000,63.000000,111.000000,149.000000,228.000000,28800.000000

In [40]:
# There are some issues with the string values for the positions.
nba['Pos'].unique()

array(['PF', 'PG', 'C', 'SG', 'SG ', 'SF', 'SGa', 'SF.', 'PFa', 'PF ',
       'C ', ' PG', 'PG-SG ', 'sg', 'Sf', ' SG', 'SF-PF', 'pg', ' SF',
       'Pg'], dtype=object)

In [41]:
nba.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,35,2,491,84,145,0.579,0,0,NaN,84,145,0.579,44,81,0.543,46,95,141,20,15,19,32,58,212
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,0.125,0,2,0.00,1,6,0.167,0,0,NaN,0,3,3,2,0,0,0,1,20000
2,3,Steven Adams,C,27,NOP,33,33,918,115,187,0.615,0,1,0.00,115,186,0.618,35,79,0.443,133,161,294,69,29,20,50,63,265
3,4,Bam Adebayo,C,23,MIA,33,33,1119,236,419,0.563,2,6,0.05,234,413,0.567,160,189,0.847,72,241,313,179,29,34,98,80,634
4,5,LaMarcus Aldridge,C,35,SAS,21,18,544,115,248,0.464,27,75,0.36,88,173,0.509,31,37,0.838,17,77,94,36,8,18,20,36,28800

In [35]:
nba['Pos'].strip()
if nba['Pos'] = 'SGa':
    nba['Pos'] = 'SG'
    
if nba['Pos'] = 'SF.':
    nba['Pos'] = 'SF'
    
if nba['Pos'] = 'PFa':
    nba['Pos'] = 'PF'

if nba['Pos'] = 'sg':
    nba['Pos'] = 'SG'

if nba['Pos'] = 'Sf':
    nba['Pos'] = 'SG'

AttributeError: 'Series' object has no attribute 'upper'

In [20]:
# Age less than 18 is not possible. Remove this row as we can't be sure of the data integrity
nba[nba['Age'] < 18]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
197,194,Killian Hayes,PG,-19,DET,7,7,148,13,47,0.277,5,20,0.25,8,27,0.296,1,2,0.5,1,7,8,25,2,0,17,15,32

In [21]:
nba = nba[nba['Age'] >= 18]
nba = nba.reset_index(drop = True)

In [20]:
# Age more than 60. Remove this row as we can't be sure of the data integrity
nba[nba['Age'] > 60]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
162,161,Anthony Gill,PF,280,WAS,12,1,67,3,10,...,0.75,3,16,19,4,3,2,3,3,10

In [30]:
nba = nba[nba['Age'] <= 60]
nba = nba.reset_index(drop = True)

In [33]:
# Duplicate ranked entries. These seem fine as they are the same player but different teams. Something to bear in mind when performing EDA later.
nba[nba['Rk'].duplicated()]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
9,9,Jarrett Allen,C,22,BRK,12,5,320,44,65,0.677,0,0,NaN,44,65,0.677,46,61,0.754,38,87,125,20,7,19,22,21,134
10,9,Jarrett Allen,C,22,CLE,23,12,657,128,192,0.667,4,8,0.500,124,184,0.674,77,105,0.733,73,148,221,40,9,40,32,34,337
184,182,James Harden,sg,31,HOU,8,8,290,60,135,0.444,25,72,0.347,35,63,0.556,53,60,0.883,5,36,41,83,7,6,34,14,198
185,182,James Harden,PG,31,BRK,23,23,883,190,382,0.497,76,180,0.422,114,202,0.564,130,153,0.850,21,180,201,262,29,15,97,53,586
242,238,Damian Jones,C,25,PHO,14,0,94,8,16,0.500,0,1,0.000,8,15,0.533,6,11,0.545,7,11,18,4,1,5,6,19,22
243,238,Damian Jones,C,25,LAL,3,1,31,5,5,1.000,0,0,NaN,5,5,1.000,2,2,1.000,2,3,5,0,0,4,0,6,12
261,255,Rodions Kurucs,PF,22,BRK,5,0,16,1,3,0.333,1,2,0.500,0,1,0.000,0,0,NaN,0,3,3,2,0,0,0,1,3
262,255,Rodions Kurucs,SF,22,HOU,11,0,75,5,21,0.238,2,15,0.133,3,6,0.500,1,2,0.500,2,9,11,4,6,4,9,7,13
271,263,Alex Len,C,27,TOR,7,2,76,5,10,0.500,3,6,0.500,2,4,0.500,3,6,0.500,0,11,11,3,1,6,8,10,16
272,263,Alex Len,C,27,WAS,19,4,276,49,76,0.645,3,14,0.214,46,62,0.742,21,36,0.583,19,51,70,20,8,26,17,37,122
361,351,Victor Oladipo,SG,28,IND,9,9,300,64,152,0.421,25,69,0.362,39,83,0.470,27,37,0.730,1,50,51,38,15,2,18,23,180
362,351,Victor Oladipo,SG,28,HOU,15,15,486,110,284,0.387,35,112,0.313,75,172,0.436,44,58,0.759,7,67,74,71,21,9,35,33,299
377,365,Norvel Pelle,C,27,BRK,3,0,28,3,7,0.429,0,0,NaN,3,7,0.429,0,0,NaN,3,4,7,0,0,3,3,9,6
378,365,Norvel Pelle,C,27,SAC,1,0,4,0,1,0.000,0,0,NaN,0,1,0.000,3,4,0.750,1,0,1,1,0,0,0,1,3
393,379,Taurean Prince,PF,26,BRK,12,4,218,30,74,0.405,13,37,0.351,17,37,0.459,24,27,0.889,2,32,34,7,8,8,11,21,97
394,379,Taurean Prince,PF,26,CLE,17,6,402,49,134,0.366,26,64,0.406,23,70,0.329,21,26,0.808,13,57,70,43,11,11,20,32,145
415,399,Derrick Rose,PG,32,DET,15,0,342,79,184,0.429,13,39,0.333,66,145,0.455,42,50,0.840,6,23,29,63,18,4,29,17,213
416,399,Derrick Rose,PG,32,NYK,10,3,246,47,109,0.431,10,22,0.455,37,87,0.425,21,24,0.875,1,25,26,49,11,6,19,12,125
438,420,Dennis Smith Jr.,pg,23,NYK,3,0,28,2,10,0.200,0,4,0.000,2,6,0.333,5,6,0.833,0,2,2,3,3,0,1,4,9
439,420,Dennis Smith Jr.,PG,23,DET,12,7,247,40,99,0.404,14,40,0.350,26,59,0.441,6,8,0.750,10,28,38,46,15,8,16,19,100

In [32]:
# Points over 2000
nba[nba['PTS'] > 2000]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,0.125,0,2,0.00,1,6,0.167,0,0,NaN,0,3,3,2,0,0,0,1,20000
4,5,LaMarcus Aldridge,C,35,SAS,21,18,544,115,248,0.464,27,75,0.36,88,173,0.509,31,37,0.838,17,77,94,36,8,18,20,36,28800

In [35]:
# Points don't add up (can calculate this)
nba[3 * nba['3P'] + 2 * nba['2P'] + nba['FT'] != nba['PTS']]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,0.125,0,2,0.00,1,6,0.167,0,0,NaN,0,3,3,2,0,0,0,1,20000
4,5,LaMarcus Aldridge,C,35,SAS,21,18,544,115,248,0.464,27,75,0.36,88,173,0.509,31,37,0.838,17,77,94,36,8,18,20,36,28800

In [48]:
# NaN's (probably from divided by zeroes, so can probably be set to 0)
nba[nba.loc[:,'FG%':'FT%'].isnull().any(axis=1)]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,35,2,491,84,145,0.579,0,0,NaN,84,145,0.579,44,81,0.543,46,95,141,20,15,19,32,58,212
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,0.125,0,2,0.000,1,6,0.167,0,0,NaN,0,3,3,2,0,0,0,1,20000
5,6,Ty-Shon Alexander,SG,22,PHO,3,0,8,0,3,0.000,0,1,0.000,0,2,0.000,0,0,NaN,0,1,1,1,0,0,0,1,0
9,9,Jarrett Allen,C,22,BRK,12,5,320,44,65,0.677,0,0,NaN,44,65,0.677,46,61,0.754,38,87,125,20,7,19,22,21,134
14,13,Kostas Antetokounmpo,PF,23,LAL,3,0,19,1,3,0.333,0,0,NaN,1,3,0.333,1,2,0.500,2,6,8,0,1,2,5,3,3
23,22,Udoka Azubuike,C,21,UTA,12,0,49,4,7,0.571,0,0,NaN,4,7,0.571,4,6,0.667,4,9,13,0,1,4,3,8,12
40,39,Jordan Bell,C,26,WAS,3,1,50,5,15,0.333,0,2,0.000,5,13,0.385,0,0,NaN,5,11,16,5,1,3,3,4,10
45,44,Tyler Bey,SF,22,DAL,4,0,13,2,5,0.400,0,0,NaN,2,5,0.400,2,4,0.500,2,1,3,0,0,1,0,2,6
51,50,Keljin Blevins,SF,25,POR,9,0,47,2,11,0.182,0,4,0.000,2,7,0.286,0,0,NaN,0,2,2,4,2,0,3,4,4
55,54,Marques Bolden,C,22,CLE,6,0,29,1,3,0.333,0,0,NaN,1,3,0.333,5,8,0.625,3,3,6,0,2,2,2,0,7
56,55,Jordan Bone,PG,23,ORL,14,0,196,23,54,0.426,10,32,0.313,13,22,0.591,0,0,NaN,4,20,24,18,2,0,3,11,56
60,59,Brian Bowen,SF.,22,IND,1,0,5,1,2,0.500,0,0,NaN,1,2,0.500,1,1,1.000,0,1,1,0,0,0,0,0,3
63,62,Jarrell Brantley,PF,24,UTA,10,0,28,4,10,0.400,3,7,0.429,1,3,0.333,0,0,NaN,2,5,7,0,1,1,1,4,11
64,63,Ignas Brazdeikis,SF,22,NYK,4,0,7,0,1,0.000,0,0,NaN,0,1,0.000,2,2,1.000,1,1,2,1,0,0,1,0,2
71,70,Moses Brown,C,21,OKC,7,0,31,7,10,0.700,0,0,NaN,7,10,0.700,7,14,0.500,4,11,15,3,1,4,1,4,21
81,80,Devontae Cacok,PF,24,LAL,4,0,17,4,4,1.000,0,0,NaN,4,4,1.000,0,2,0.000,1,4,5,0,2,0,2,0,8
85,84,Clint Capela,C,26,ATL,32,32,949,208,353,0.589,0,0,NaN,208,353,0.589,55,100,0.550,159,294,453,29,24,71,46,73,471
103,102,Tyler Cook,PF,23,BRK,4,0,17,1,3,0.333,0,0,NaN,1,3,0.333,0,0,NaN,1,1,2,2,0,0,1,2,2
112,111,Ed Davis,C,31,MIN,19,7,264,18,43,0.419,0,0,NaN,18,43,0.419,7,8,0.875,38,59,97,19,10,10,6,49,43
122,121,Devon Dotson,PG,21,CHI,1,0,10,2,4,0.500,0,0,NaN,2,4,0.500,0,0,NaN,0,1,1,0,0,0,0,1,4
127,126,Jared Dudley,PF,35,LAL,11,0,76,2,7,0.286,2,5,0.400,0,2,0.000,0,0,NaN,4,15,19,5,1,1,2,7,6
135,134,Drew Eubanks,C,23,SAS,15,0,180,21,51,0.412,0,0,NaN,21,51,0.412,14,20,0.700,9,37,46,9,1,16,8,19,56
137,136,Tacko Fall,C,25,BOS,8,0,57,9,13,0.692,0,0,NaN,9,13,0.692,3,8,0.375,8,13,21,1,0,10,1,10,21
139,138,Cristiano FelÃ­cio,C,28,CHI,6,0,38,3,4,0.750,0,0,NaN,3,4,0.750,5,8,0.625,6,6,12,5,2,0,3,3,11
140,139,Terrance Ferguson,SG,22,PHI,9,0,34,1,5,0.200,0,3,0.000,1,2,0.500,0,0,NaN,0,1,1,2,0,0,3,5,2
149,148,Tim Frazier,PG,30,MEM,3,0,33,2,8,0.250,0,2,0.000,2,6,0.333,0,0,NaN,0,4,4,7,1,0,3,4,4
151,150,Wenyen Gabriel,PF,23,NOP,4,0,12,0,3,0.000,0,1,0.000,0,2,0.000,0,0,NaN,1,4,5,1,0,0,0,0,0
152,151,Daniel Gafford,PF,22,CHI,26,11,343,50,75,0.667,0,0,NaN,50,75,0.667,26,39,0.667,34,48,82,16,11,32,19,48,126
178,177,Ashton Hagans,PG,21,MIN,2,0,4,0,0,NaN,0,0,NaN,0,0,NaN,0,0,NaN,0,0,0,0,0,0,1,0,0
187,184,Jared Harper,PG,23,NYK,2,0,5,0,1,0.000,0,0,NaN,0,1,0.000,2,2,1.000,0,0,0,0,0,0,2,0,2
190,187,Jalen Harris,SG,22,TOR,2,0,4,0,0,NaN,0,0,NaN,0,0,NaN,0,0,NaN,1,0,1,0,0,0,1,2,0
195,192,Isaiah Hartenstein,C,22,DEN,26,0,243,39,76,0.513,0,0,NaN,39,76,0.513,20,34,0.588,37,37,74,14,10,15,19,53,98
196,193,Jaxson Hayes,C,20,NOP,25,1,311,46,68,0.676,0,0,NaN,46,68,0.676,19,29,0.655,31,58,89,9,9,12,16,45,111
226,223,Frank Jackson,PG,22,DET,9,0,54,6,22,0.273,4,13,0.308,2,9,0.222,0,0,NaN,0,8,8,10,1,0,4,5,16
233,230,Ty Jerome,SG,23,OKC,4,0,100,15,30,0.500,7,19,0.368,8,11,0.727,0,0,NaN,3,8,11,13,3,0,2,14,37
243,238,Damian Jones,C,25,LAL,3,1,31,5,5,1.000,0,0,NaN,5,5,1.000,2,2,1.000,2,3,5,0,0,4,0,6,12
252,247,Enes Kanter,C,28,POR,35,23,919,177,298,0.594,0,0,NaN,177,298,0.594,63,84,0.750,146,269,415,40,18,26,41,94,417
261,255,Rodions Kurucs,PF,22,BRK,5,0,16,1,3,0.333,1,2,0.500,0,1,0.000,0,0,NaN,0,3,3,2,0,0,0,1,3
274,265,Meyers Leonard,C,28,MIA,3,2,29,3,7,0.429,3,7,0.429,0,0,NaN,1,2,0.500,0,7,7,2,0,0,2,5,10
304,295,Patrick McCaw,SF,25,TOR,3,0,20,0,0,NaN,0,0,NaN,0,0,NaN,0,0,NaN,1,0,1,4,0,0,0,3,0
326,317,Adam Mokoka,SG,22,CHI,7,0,42,5,14,0.357,1,8,0.125,4,6,0.667,0,0,NaN,1,3,4,4,2,1,2,5,11
368,357,Jabari Parker,PF,25,SAC,2,0,25,4,7,0.571,0,1,0.000,4,6,0.667,0,0,NaN,1,5,6,1,0,1,3,4,8
370,359,AnÅ¾ejs PaseÄÅ†iks,C,25,WAS,1,0,6,0,1,0.000,0,1,0.000,0,0,NaN,0,0,NaN,1,0,1,1,0,0,5,2,0
376,365,Norvel Pelle,C,27,TOT,4,0,32,3,8,0.375,0,0,NaN,3,8,0.375,3,4,0.750,4,4,8,1,0,3,3,10,9
377,365,Norvel Pelle,C,27,BRK,3,0,28,3,7,0.429,0,0,NaN,3,7,0.429,0,0,NaN,3,4,7,0,0,3,3,9,6
378,365,Norvel Pelle,C,27,SAC,1,0,4,0,1,0.000,0,0,NaN,0,1,0.000,3,4,0.750,1,0,1,1,0,0,0,1,3
380,367,Theo Pinson,SG,25,NYK,11,0,25,1,7,0.143,0,6,0.000,1,1,1.000,0,0,NaN,0,1,1,1,0,0,0,3,2
382,369,Jakob Poeltl,C,25,SAS,32,14,750,97,159,0.610,0,0,NaN,97,159,0.610,15,47,0.319,95,139,234,58,20,50,37,70,209
383,370,Vincent Poirier,C,27,PHI,6,0,22,1,4,0.250,0,0,NaN,1,4,0.250,2,4,0.500,2,2,4,1,0,2,2,2,4
384,371,Aleksej Pokusevski,PF,19,OKC,17,0,296,23,93,0.247,10,56,0.179,13,37,0.351,0,0,NaN,5,55,60,21,8,19,22,16,56
397,382,Jahmi'us Ramsey,SG,19,SAC,4,0,16,2,4,0.500,1,3,0.333,1,1,1.000,0,0,NaN,0,4,4,1,0,1,1,0,5
402,387,Paul Reed,PF,21,PHI,5,0,55,9,22,0.409,0,3,0.000,9,19,0.474,0,0,NaN,7,3,10,3,1,4,5,4,18
404,389,Nick Richards,PF,23,CHO,8,0,23,3,6,0.500,0,0,NaN,3,6,0.500,5,6,0.833,2,4,6,0,0,0,1,4,11
411,396,Mitchell Robinson,C,22,NYK,27,27,778,103,156,0.660,0,0,NaN,103,156,0.660,22,46,0.478,97,129,226,14,32,41,22,78,228
430,413,Iman Shumpert,SG,30,BRK,2,0,11,1,4,0.250,0,3,0.000,1,1,1.000,0,0,NaN,1,0,1,0,1,0,1,0,2
435,418,Deividas Sirvydis,SG,20,DET,5,0,8,0,3,0.000,0,3,0.000,0,0,NaN,1,2,0.500,0,1,1,1,0,0,0,1,1
442,423,Tony Snell,SG,29,ATL,23,6,420,41,85,0.482,35,62,0.565,6,23,0.261,0,0,NaN,11,36,47,27,3,7,13,31,117
460,441,Killian Tillie,C,22,MEM,2,0,21,1,4,0.250,1,2,0.500,0,2,0.000,0,0,NaN,1,1,2,0,1,0,1,5,3
474,455,Noah Vonleh,PF,25,BRK,4,0,11,0,3,0.000,0,2,0.000,0,1,0.000,0,0,NaN,0,1,1,1,0,0,2,2,0
486,467,Paul Watson,SF,26,TOR,16,0,74,10,20,0.500,9,17,0.529,1,3,0.333,0,0,NaN,2,12,14,2,0,2,1,9,29
492,473,Greg Whittington,PF,27,DEN,2,0,8,0,2,0.000,0,2,0.000,0,0,NaN,0,0,NaN,0,0,0,0,0,0,0,0,0